flask
flask-cors
groq
requests
python-dotenv
beautifulsoup4
duckduckgo-search
pandas
numpy
scikit-learn
flask-socketio
pymongo
gevent
greenlet
gunicorn
youtube-transcript-api
chromadb
pdfplumber
pysqlite3-binary
